<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My first django site!</title>
</head>
	<body>
		<div>
			<h1><a href="/">Django Blog</a></h1>
		</div>
		<div>
			<p>published: 26.02.2023, 21:06</p>
			<h2><a href="">My post</a></h2>
			<p>Python it's perfect!</p>
		</div>
		<div>
			<p>published: 25.02.2023, 12:46</p>
			<h2><a href="">Second post</a></h2>
			<p>Django it's perfect!</p>
		</div>
	</body>
</html>